{% extends 'CarMarketApp/base.html' %}

{% block content %}
<h2>Post details:</h2>

<h4> {{ car.brand }} {{ car.model }}, {{ car.gen }} generation, produced in {{ car.year }} </h4>
<h4>Status: {{ car.status }}</h4>
<h4>Available for sale: {{ car.available }} </h4>
<p><em>Description:</em> <br>
    {{ car.description }}
</p>

<p><em>Seller:</em> {{ car.seller_id.first_name }} {{ car.seller_id.last_name }} <br>
<em>Location:</em> {{ contact.city }} <br>
<em>Contact:</em> {{ car.seller_id.email }} <br>
<em>Phone number:</em> {{ contact.phone_number }}
</p>

{% endblock %}