{% extends 'CarMarketApp/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
        <div class="side-nav">
            <h2>Find your car!</h2>
        </div>
        <!-- <div class="col-12 col-md-8" ><h2></h2></div> -->
        <div class="d-flex justify-content-center" >
            <div class="table-bordered">
                {% render_table cars_table %}
            </div>
        </div>
    <!-- <table>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Generacja</th>
            <th>Rocznik</th>
            <th>Status</th>
            <th>Dostępność</th>
            <th>Cena</th>
        </tr>
        {% for item in cars %}
        <tr>
            <td>{{ item.brand }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.gen }}</td>
            <td>{{ item.year }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.availabe }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table> -->



{% endblock %}