.page-header {
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 40px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    
}

.top-menu {
    float: right;
    font-size: 20pt;
}

.side-nav {
    text-align: center;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: auto;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid #4f85fa;
    background-color: #4f85fa;
}

.table-bordered {
    margin-top: 50px;
    margin-left: 250px;
}

.row {
    margin-left: 0;
    margin-top: 50px;
}

.content {
    margin-left: 50px;
}